.id{
    color:rgb(213, 106, 216);
    height: auto;
    margin-left: 10%;
    float: left;
    height: 10px;
    width: 10px;
    position: absolute;
    display: flex;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-family:Brush Script;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 20px;
    background-size: 1350px 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive;
}
